<style>
    .fondo_div {
        padding-top: 0.5rem;
        background-color: rgb(175, 234, 238);
        text-align: center;
    }

    .grid_contenido {
        display: grid;
        grid-template-columns: 20rem 50rem;
        gap: 1rem;
        background-color: rgb(175, 234, 238);
        justify-content: space-around;
        padding: 1rem;
        margin: 0.01rem;
        height: 100%;
    }

    .grid_menu {
        display: grid;
        gap: 3px;
        height: 50%;
    }

    .contenedor_form {
        border: 2px solid black;
        margin: 1.5rem;
        padding: 2rem 3rem;
        height: auto;
    }

    .formulario {
        width: min(60rem, 100%);
        margin: 2rem auto;

    }

    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0.5rem;
        justify-content: center;
    }

    .contenedor-campos_pedido {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 0.5rem;
        justify-content: center;
    }

    .campo {
        margin-bottom: 1rem;
    }

    .imput-text {
        text-align: justify;
        margin-left: 1rem;
        width: 50%;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .boton {
        text-align: center;
        background-color: rgb(77, 192, 218);
        color: var(--blanco);
        padding: 1rem;
        margin-top: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0.5rem;
        width: 50%;
        text-align: center;
        border: none;
    }

    .boton_calcular {
        text-align: center;
        background-color: rgb(77, 192, 218);
        color: var(--blanco);
        padding: 0.5rem;
        margin-top: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0.5rem;
        width: 25%;
        text-align: center;
        border: none;
    }

    .boton:hover {
        color: rgb(255, 255, 255);
    }

    .boton_calcular:hover {
        color: rgb(255, 255, 255);

    }

    .w-50 {
        width: 50%;
    }

    .alinear-centro {
        justify-content: center;
    }

    .grid_nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        margin-bottom: 1.5rem;
    }

    .grid_nav::after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgb(77, 192, 218);
        color: rgb(3, 5, 5);
        font-size: 20px;
        float: left;
        width: 70%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
    }

    a:hover {
        background: rgb(16, 82, 82);
        color: white;
    }
</style>

<div class="fondo_div">
    <div>
        <img src="../assets/RmainLOGO.jpg" alt="banner">
    </div>
</div>
<div class="grid_contenido">
    <div class="grid_menu">
        <h2>Menu</h2>
        <a href="/crear-cliente?cliente={{cedulaCL}}">Crear Cliente</a>
        <a href="/listar-cliente?cliente={{cedulaCL}}">Ver Clientes</a>
        <a href="/reserva?cliente={{cedulaCL}}">Realizar Reservación</a>
        <a href="/reservas?cliente={{cedulaCL}}">Reservas</a>
        <a href="/facturacion?cliente={{cedulaCL}}">Facturación</a>
        <a href="/ganancias?cliente={{cedulaCL}}">Ganacias</a>
        <a href="/calificacion?cliente={{cedulaCL}}">Calificacion</a>
        <a href="#">Cerrar Sesion</a>
    </div>

    <div class="contenedor_form tab_content">
        <div>
            <form class="formulario">

                <div class="contenedor-campos">
                    <div class="campo">
                        <label style="margin-top: 0.5;">codigo Factura</label>
                        <input [(ngModel)]="facturaCab.codigo" name="txtCedula" class="imput-text" type="number"
                            style="width: 15%;" placeholder="Ingrese Cedula" />
                    </div>

                    <div class="campo">
                        <label>Fecha</label>
                        <input [(ngModel)]="facturaCab.fecha" name="txtNombre" class="imput-text" type="date"
                            style="width: 35%;" placeholder="Ingrese Nombre" />
                    </div>

                    <div class="campo">
                        <label>Estado</label>
                        <input [(ngModel)]="facturaCab.estado" name="txtApellido" class="imput-text" type="checkbox" />
                    </div>
                </div>

                <div>
                    <h3>Pedido</h3>
                </div>

                <div class="contenedor-campos_pedido">

                    <div class="campo">
                        <label>Descripcion</label>
                        <input [(ngModel)]="pedido.descripcion" name="txtDesc" class="imput-text" type="text"
                            placeholder="Descripción" />
                    </div>
                    <div class="campo">
                        <label>Precio</label>
                        <input [(ngModel)]="pedido.precio" name="txtPrec" class="imput-text" type="number" />
                    </div>
                    <div class="alinear-centro flex">
                        <button style="width: 50%;" (click)="crearPedido()">Crear Pedido</button>
                    </div>
                </div>
                <div>
                    <h3>Factura</h3>
                </div>
                <div class="contenedor-campos_pedido">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio Unitario</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Confirmar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of pedidos">
                                <td>{{ pedido.descripcion }}</td>
                                <td>{{ pedido.precio }}</td>
                                <td>
                                    <input [(ngModel)]="facturaDet.cantidad" type="number" name="txtCF">
                                </td>
                                <td><label for="">{{precioT}}</label></td>
                                <td><button (click)="calcular(pedido.precio)">Calcular</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>Factura Total</h3>
                </div>
                <div class="contenedor-campos_pedido">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio Unitario</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let facDet of facturasDet">
                                <td>{{ facDet.descripcion }}</td>
                                <td>{{ facDet.precioU }}</td>
                                <td>{{ facDet.cantidad }}</td>
                                <td>{{ facDet.precioT }}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="boton_calcular" (click)="calcularT()">Total a Pagar</button>
                    <label for="">{{facturaT}}</label>
                </div>
                <div class="alinear-centro flex">
                    <button class="boton w-50" (click)="guardar()">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>