<style>
    .fondo_div {
        padding-top: 0.5rem;
        background-color: rgb(175, 234, 238);
        text-align: center;
    }

    .grid_contenido {
        display: grid;
        grid-template-columns: 20rem 50rem;
        gap: 1rem;
        background-color: rgb(175, 234, 238);
        justify-content: space-around;
        padding: 1rem;
        margin: 0.01rem;
        height: 100%;
    }

    .grid_menu {
        display: grid;
        gap: 3px;
        height: 50%;
    }

    .contenedor_form {
        border: 2px solid black;
        margin: 1.5rem;
        padding: 2rem 3rem;
        height: 40%;
    }

    .formulario {
        width: min(60rem, 100%);
        margin: 2rem auto;

    }

    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0.5rem;
        justify-content: center;
    }

    .campo {
        margin-bottom: 1rem;
    }

    .imput-text {
        text-align: justify;
        margin-left: 1rem;
        width: 50%;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .boton {
        text-align: center;
        background-color: rgb(77, 192, 218);
        color: var(--blanco);
        padding: 1rem;
        margin-top: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0.5rem;
        width: 50%;
        text-align: center;
        border: none;
    }

    .boton:hover {
        color: rgb(255, 255, 255);
    }

    .w-50 {
        width: 50%;
    }

    .alinear-centro {
        justify-content: center;
    }

    .grid_nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        margin-bottom: 1.5rem;
    }

    .grid_nav::after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgb(77, 192, 218);
        color: rgb(3, 5, 5);
        font-size: 20px;
        float: left;
        width: 70%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
    }

    a:hover {
        background: rgb(16, 82, 82);
        color: white;
    }
</style>

<div class="fondo_div">
    <div>
        <img src="../assets/RmainLOGO.jpg" alt="banner">
    </div>
</div>
<div class="grid_contenido">
    <div class="grid_menu">
        <h2>Menu</h2>
        <a href="/crear-cliente?cliente={{cedulaCL}}">Crear Cliente</a>
        <a href="/listar-cliente?cliente={{cedulaCL}}">Ver Clientes</a>
        <a href="/reserva?cliente={{cedulaCL}}">Realizar Reservación</a>
        <a href="/reservas?cliente={{cedulaCL}}">Reservas</a>
        <a href="/facturacion?cliente={{cedulaCL}}">Facturación</a>
        <a href="/ganancias?cliente={{cedulaCL}}">Ganacias</a>
        <a href="/calificacion?cliente={{cedulaCL}}">Ganacias</a>
        <a href="/calificacion?cliente={{cedulaCL}}">Calificacion</a>
        <a href="#">Cerrar Sesion</a>
    </div>

    <div class="contenedor_form tab_content">
        <div>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha Ingreso</th>
                        <th scope="col">Fecha Salida</th>
                        <th scope="col">Numero Personas</th>
                        <th scope="col">Numero Mesa</th>
                        <!-- <th scope="col">Cliente</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reserva of reservas">
                        <td>{{ reserva.codigo }}</td>
                        <td>{{ reserva.fechaIngreso }}</td>
                        <td>{{ reserva.fechaSalida }}</td>
                        <td>{{ reserva.numeroPersona }}</td>
                        <td>{{ reserva.numeroMesa }}</td> 
                        <!-- <td>{{ reserva.cedula }}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>